body {
    font-family: sans-serif;
}

.resource-container {
    position: relative;

    background-color: #141414;
    color: white;

    border-radius: 9px;
    padding: 8px;
    box-sizing: border-box;

    width: 390px;
    height: 250px;
}

.resource-container .head>div {
    margin-left: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resource-container .head {
    display: flex;
    margin-bottom: 6px;
}

.resource-container .head img {
    width: 72px;
    height: 72px;

    border-radius: 9px;
}

.github-icon {
    position: absolute;
    right: 8px;
    top: 8px;

    width: 24px;
    height: 24px;
}

.resource-container a {
    text-decoration: none;
    color: white;
}

.resource-container a:hover {
    text-decoration: underline;
}

#timestamps {
    position: absolute;
    top: 12px;
    right: 36px;

    display: flex;
}

#timestamps hr {
    margin: 0 4px;
}

#stats-container {
    width: 374px;
    height: 154px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


.stats-chart {
    width: 374px;
}

.charts>div {
    width: 374px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
}

.charts {
    display: flex;
    transition: all 700ms ease-in-out;
}

.translated-charts {
    transform: translate(-384px);
}

.untranslated-charts {
    transform: translate(0px);
}

.base-toggle {
    position: absolute;
    right: 8px;
    top: 64px;

    color: transparent;
    height: 16px;
    width: 32px;

    border: none;
    border-radius: 9999px;

    cursor: pointer;
    transition: background 500ms ease;
}

.default-toggle {
    background-color: rgb(100, 100, 100);
}

.active-toggle {
    background-color: rgb(255, 255, 255);
}

.base-dot {
    position: absolute;
    top: 1px;
    left: 1px;

    width: 14px;
    height: 14px;

    background-color: rgb(0, 0, 0);
    border-radius: 50%;

    transition: all 500ms ease 250ms;
}

.active-dot {
    transform: translate(16px);
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mute {
    opacity: 0.5;
}